@require '_variables'

// Stylus syntax helper functions

// If $name is string, lookup as variable name:
// lookup-var('o') == lookup-var('$o') == $o == #e54e26
// Else return $name unchanged
lookup-var($name)
  if typeof($name) == 'string'
    return lookup($name) || lookup('$' + $name)
  else
    return $name

// force-unit(1, 'px')       -> 1px
// force-unit(1%, 'px')      -> 1px
// force-unit(inherit, 'px') -> inherit
force-unit($val, $unit)
  return typeof($val) == 'unit' ? unit($val, $unit) : $val

// default-unit(1, 'px')       -> 1px
// default-unit(1%, 'px')      -> 1%
// default-unit(inherit, 'px') -> inherit
default-unit($val, $unit)
  if typeof($val) == 'unit' && !unit($val)
    return unit($val, $unit)
  else
    return $val

// Channel helper functions
each-channel($callback-mixin, $channel-local-themes, $for-channels = $channels, $to-scope-or = false)
  for $channel in $for-channels
    if $channel == 'or' && !$to-scope-or
      $layout-selector = ''
    else
      $layout-selector = '#layout.' + $channel

    $shared = $themes.shared[$channel]
    $locals = $channel-local-themes[$channel]
    $merged = merge({}, $shared, $locals)

    {$layout-selector} &
      $callback-mixin($merged)
