/* Colors */
/* TODO Rename as $color-w, etc. */
$w = #ffffff
$lgy = #f3f3f3
$egy = #e5e5e5
$gy = #e2e2e2
$cgy = #cccccc
$dgy = #8e8e8e
$bgy = #3e3e3e
$b = #000000
$lbr = #85796e
$br = #4e3c2d
$kh = #b3865a
$y = #ffcb05
$ly = #fffcdf
$o = #e54e26
$od = #e34f26
$or = #ff8200
$bu = #3e75d9
$p = #783875
$g = #009342
$color-transparent = alpha($w, 0)
// Instead of keyword transparent or rgba(0,0,0,0) for Safari bug:
// https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
$br-booking-widget = $bgy
$bu-asiamiles = #272f38
$y-asiamiles = #facf00
$bu-facebook = #3a5795
$r-google-plus = #bd3d2f
/* Font weights */
$font-weight-L = 300
$font-weight-N = 400
$font-weight-M = 500
$font-weight-SB = 600
$font-weight-B = 700
$font-weight = {}

for $val in 'L' 'N' 'M' 'SB' 'B'
  $font-weight[$val] = lookup('$font-weight-' + $val)

/* Font family */
/* cSpell:disable */
/*
$font-family-or-tc = Lato, Arial, "Noto Sans TC", "Noto Sans SC", "PingFang TC", "PingFang SC", "Microsoft JhengHei", sans-serif
$font-family-or-sc = Lato, Arial, "Noto Sans SC", "Noto Sans TC", "PingFang SC", "PingFang TC", "Hiragino Sans GB", STHeiTi, "Microsoft JhengHei", sans-serif
$font-family-or-ja = Lato, Arial, "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, Osaka, "MS PGothic", "Noto Sans TC", sans-serif
*/
$font-family-or-tc = Lato, Arial, sans-serif
$font-family-or-sc = Lato, Arial, sans-serif
$font-family-or-ja = Lato, Arial, sans-serif
$font-family-asiamiles-tc-tokens = 'Microsoft JhengHei', 'PingFang TC', 'Heiti TC'
$font-family-asiamiles-sc-tokens = 'Microsoft YaHei', 'PingFang SC', 'Heiti SC'
$font-family-asiamiles-en-tokens = 'Open Sans', Arial
$font-family-asiamiles-ja-tokens = 'Source Hans Sans'
$font-family-asiamiles-tc = $font-family-asiamiles-en-tokens, $font-family-asiamiles-tc-tokens, $font-family-asiamiles-sc-tokens, sans-serif
$font-family-asiamiles-sc = $font-family-asiamiles-en-tokens, $font-family-asiamiles-sc-tokens, $font-family-asiamiles-tc-tokens, sans-serif
$font-family-asiamiles-ja = $font-family-asiamiles-en-tokens, $font-family-asiamiles-ja-tokens, $font-family-asiamiles-tc-tokens, sans-serif
/* cSpell:enable */
$borderRadius = 8px
/* Layout Dimensions */
$appBarHeight = 50px
$appBarItemPadding = 10px
$sideButtonMinWidth = 50px
$appFooterHeight = 170px
$siteWrapMarginBottom = 0px
$closeButtonSize = 56px
$mobileSiteWrapMinWidth = 310px
$mobileSiteWrapMaxWidth = 630px
$widgetLayoutSiteWrapMinWidth = 310px
$widgetLayoutSiteWrapMaxWidth = 630px
$widgetLayoutHeaderHeight = 40px
$partnerLayoutFooterHeight = 100px
$desktopFooterMarginTop = 80px
/* Page width */
$wideScreenMinWidth = 1280px
$narrowScreenMaxWidth = $wideScreenMinWidth - 1
$extraWideScreenMinWidth = 1330px
$extraWidePageWidth = 1290px
$widePageWidth = 1240px
$narrowPageWidth = 980px
/* End of page width */
/* z-index section */
$zIndexOverMuseUI = 30000000
$zIndexToast = $zIndexOverMuseUI + 100
$zIndexSideBar = $zIndexToast + 100
// MuseUI overlays range: ~20141223
$zIndexProgressBar = 700
$zIndexLoadingBackdrop = 600
$zIndexDropdown = 500
$zIndexModal = 410
$zIndexModalBackdrop = 400
$zIndexSubview = 300
$zIndexAppBar = 200
$zIndexAuthFormAppBar = 500
$zIndexFloatingFooter = 200
$zIndexEnlargePhotoModal = 210
$zIndexDesktopHeaderBar = 200
$zIndexPopup = 200
/* Local component range: -99 ~ 199 */
/* End of z-index section */
